main {
	align-self: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 83vh;
	min-height: 400px;
	justify-content: center;
	align-items: center;
	padding: 0 3%;
}

.container,
.welcome,
.start,
.top {
	display: flex;
	align-items: center;
}

.container,
.welcome {
	flex-direction: column;
	justify-content: space-evenly;
}

.container {
	background-color: rgba(255, 255, 255, 0.65);
	min-width: 320px;
	height: 100%;
	width: 100%;
	min-height: 400px;
}

.container h3 {
	text-transform: uppercase;
	line-height: 1.2em;
	font-size: 3.5em;
	color: #EC576B;
	margin-bottom: 10%;
}

.start {
	width: 100%;
	justify-content: space-between;
	margin-bottom: 5%;
}

.start > a {
	display: block;
	font-size: 1.3em;
	font-weight: lighter;
	border: 2px solid white;
	border-radius: 5px;
	padding: 0.5em 2em;
	transition: all 0.3s ease;
	color: white;
	text-transform: uppercase;
}

.start > a:first-child {
	background-color: rgb(78, 197, 193);
	border-color: #4EC5C1;
}

.start > a:last-child {
	background-color: rgba(255, 255, 255, 0.1);
}

.start > a:hover {
	font-size: 1.4em;
	filter: saturate(150%);
	-webkit-filter: saturate(150%);
}

.welcome > p {
	font-weight: 300;
	font-size: 0.9em;
}

.welcome > p > a {
	font-weight: 500;
	transition: all 0.3s ease;
}

.welcome > p > a:hover {
	font-size: 1.1em;
	text-decoration: underline;
	color: #EC576B;
}

.top {
	font-size: 16px;
	width: 100%;
	padding: 1.7em 0 1em;
	background-color: rgba(255, 255, 255, 0.85);
	flex-direction: column;
}

.top h3 {
	margin: 20px auto 15px;
}

.ava {
    width: 110px;
	height: 110px;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: aqua;
	overflow: hidden;
  }

.edit-link {
	display: block;
	padding: 0.4em 1em;
	text-transform: uppercase;
	color:  rgb(78, 197, 193);
	border: 1px solid;
	border-radius: 2px;
	font-size: 0.9em;
	transition: all 0.3s linear;
}

.edit-link:hover {
	text-decoration: none;
	font-size: 1em;
	filter: saturate(150%);
	-webkit-filter: saturate(150%);
}


.layer {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(232, 236, 241, 0.8);
	z-index: 1;
}

.snap_container {
	width: 100%;
	height: 80%;
	border: 3px solid rgba(255, 255, 255, 0.85);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

/* .snap_container > div,
.snap_container > aside {
	border: 1px solid rgba(255, 255, 255, 0.85);
} */

.camera_wrapper {
	flex-grow: 2;
	min-width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

aside {
	min-width: 320px;
	width: 30%;
	background-color:rgba(255, 255, 255, 0.85);
}

.images {
	min-width: 320px;
	border-top: 1px solid rgba(255, 255, 255, 0.85);
	height: 30%;
	width: 100%;
	background-color:rgba(255, 255, 255, 0.85);
}

@media (max-width: 320px) {
	.container {
		font-size: 14px;
	}
}

@media (max-height: 1000px) {
	.top {
		font-size: 14px;
	}

	.top h3 {
		margin: 8px 0;
	}
}
