main {
	align-self: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 320px;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

main > div,
main > section {
	min-width: 320px;
}

.container,
.welcome,
.start,
.top {
	display: flex;
	align-items: center;
}

.container,
.welcome {
	flex-direction: column;
	justify-content: space-evenly;
}

.container {
	background-color: rgba(255, 255, 255, 0.65);
	height: 100vh;
	min-height: 400px;
}

.container h3 {
	text-transform: uppercase;
	line-height: 1.2em;
	font-size: 3.5em;
	color: #EC576B;
	margin-bottom: 10%;
}

.start {
	width: 100%;
	justify-content: space-between;
	margin-bottom: 5%;
}

.start > a {
	display: block;
	font-size: 1.3em;
	font-weight: lighter;
	border: 2px solid white;
	border-radius: 5px;
	padding: 0.5em 2em;
	transition: all 0.3s ease;
	color: white;
	text-transform: uppercase;
}

.start > a:first-child {
	background-color: rgb(78, 197, 193);
	border-color: #4EC5C1;
}

.start > a:last-child {
	background-color: rgba(255, 255, 255, 0.1);
}

.start > a:hover {
	font-size: 1.4em;
	filter: saturate(150%);
	-webkit-filter: saturate(150%);
}

.welcome > p {
	font-weight: 300;
	font-size: 0.9em;
}

.welcome > p > a {
	font-weight: 500;
	transition: all 0.3s ease;
}

.welcome > p > a:hover {
	font-size: 1.1em;
	text-decoration: underline;
	color: #EC576B;
}

.top {
	width: 95vw;
	font-size: 16px;
	padding: 1.2em 0 1em;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.9);
}

.top h3 {
	margin: 10px;
}

.ava {
  	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: aqua;
	overflow: hidden;
  }

.edit-link {
	display: block;
	padding: 0.4em 1em;
	text-transform: uppercase;
	color:  rgb(78, 197, 193);
	border: 1px solid;
	border-radius: 2px;
	font-size: 0.9em;
	transition: all 0.3s linear;
}

.edit-link:hover {
	text-decoration: none;
	font-size: 1em;
	filter: saturate(150%);
	-webkit-filter: saturate(150%);
}


.layer {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(232, 236, 241, 0.85);
	z-index: 100;
}

.camagru {
	/* height: 88vh; */
	width: 95vw;
	min-width: 320px;
	background: rgba(255, 255, 255, 0.85);
	display: flex;
	flex-flow: row wrap;
	overflow-x: hidden;
	overflow-y: auto;
}

.snap_container {
	display: flex;
}

.snap_container,
.post {
	flex-direction: column;
	min-width: 320px;
	/* text-align: end; */
	flex: 3 0 0;
	height: 100%;
}

.post  {
	display: none;
	position: relative;
}

.camera_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 3 0 auto;
	/* width: 100%; */
	/* height: 80%; */
	overflow: hidden;
	position: relative;
	background: black;
}


#video,
.uploaded {
	image-orientation: from-image;
	/* object-fit: cover; */
	z-index: 1;
}

#video {
	height: 100%;
	width: 100%;
}

.img-container {
	display: none;
	justify-content: center;
	align-items: center;
	max-height: 100%;
	max-width: 100%;
	position: relative;
}

.button-container {
	position: absolute;
	bottom: 0;
	padding: 1% 0;
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.button-container > button {
	padding: 0;
}

.take-photo {
	border-radius: 50%;
	background: none;
	width: 60px;
	height: 60px;
	border: 3px solid rgba(255, 255, 255, 0.8);
}


.take-photo .circle {
	margin: 0 auto;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	background: rgba(255, 255, 255, 0.8);
}


.take-photo:hover,
.upload-picture:hover,
.video-on:hover {
	border-color:white;
}

.take-photo:hover .circle {
	background: white;
}

.upload-picture,
.video-on {
	position: absolute;
	width: 50px;
	height: 50px;
	transition: 0.3s ease all;
}

.video-on {
	display: none;
	background: url('../images/camera.svg');
	left: 2%;
	bottom: 20%;
}

video{
	transform: scaleX(-1);
 	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

.upload-picture {
	background: url('../images/upload.svg');
	right: 2%;
	bottom: 20%;
}

.upload-picture:hover,
.video-on:hover {
	width: 52px;
	height: 52px;
}

aside {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	flex: 3 0 0;
	background: rgba(255, 255, 255, 0.3);
}

aside > footer {
	height: 10px;
	width: 100%;
}

.photos {
	flex: 1 0 0;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: scroll;
	overflow-x: hidden;
}


.photos img
{	
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 400px;
	object-fit: cover;
	border: 2px solid white;
}

/* 
.post {
	display: none;
	flex-direction: column;
	flex: 4 0 0;
	position: relative;
} */



.post > img {
	min-width: 300px;
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	/* background: darkcyan; */
}

.post > .wrapper {
	padding: 1em;
}

.likes {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.images {
	flex: 1 0 auto;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	width: auto;
	height: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 3% 2%;
	-moz-box-shadow:    inset 0 0 10px gray;
	-webkit-box-shadow: inset 0 0 10px gray;
	box-shadow:         inset 0 0 10px gray;
}

.images .wrapper {
	display: inline-block;
	margin: 0 2%;
	width: auto;
}

.images .wrapper img {
	width: auto;
	height: 100px;
}

.mask {
	display: block;
	width: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.del {
	position: absolute;
	right: 2em;
	top: 1em;
	width: 10px;
	height: 10px;
	opacity: 0.5;
}

.close {
	position: absolute;
	right: 30px;
	top: 10px;
	width: 5px;
	height: 5px;
	opacity: 0.3;
}

.del:hover, .close:hover {
	opacity: 1;
}

.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 14px;
	width: 2px;
	background-color: #333;
}

.del:before, .del:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 30px;
	width: 3px;
	background-color: #EC576B;
}

.del:before, .close:before {
	transform: rotate(45deg);
}

.del:after, .close:after {
	transform: rotate(-45deg);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
	background:  rgba(78, 197, 193, 0.6);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(78, 197, 193, 1);
}

@media (max-width: 320px) {
	.container {
		font-size: 14px;
	}

	.camagru {
		border-radius: 0;
	}
}

@media (max-width: 670px) {
	.images .wrapper img {
		height: 40px;
	}

	.take-photo {
		height: 50px;
		width: 50px;
	}

	.take-photo .circle {
		height: 40px;
		width: 40px;
	}

	.upload-picture {
		width: 40px;
		height: 40px;
	}

	.ava {
		height: 70px;
		width: 70px;
	}

	.top .edit-link {
		order: 3;
	}

}

@media (max-height: 1000px) {
	.top {
		font-size: 14px;
	}

	.top h3 {
		margin: 8px 0;
	}
}
