#Кодировка
AddDefaultCharset utf-8

# Переадресация на единую точку входа
RewriteEngine on
# Запрет перенаправления, если файл есть
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php
